<?xml version='1.0' encoding='utf-8'?>
<widget id="org.kelly.MontessoriCompass" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Montessori Compass</name>
    <description>
        An application for viewing Montessori Compass content.
    </description>
    <author email="secondchancesoldier@gmail.com" href="http://chordmaestro.secondchancesoldier.com">
        Michael Kelly
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-splashscreen" version="2.1.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="22" />        
        <preference name="android-minSdkVersion" value="19" />
        <allow-intent href="market:*" />
        <icon src="www/resources/images/icon-ldpi.png" density="ldpi" />
        <icon src="www/resources/images/icon-mdpi.png" density="mdpi" />
        <icon src="www/resources/images/icon-hdpi.png" density="hdpi" />
        <icon src="www/resources/images/icon-xhdpi.png" density="xhdpi" />
        <icon src="www/resources/images/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="www/resources/images/icon-xxxhdpi.png" density="xxxhdpi" />
        <!-- you can use any density that exists in the Android project -->
        <splash src="www/resources/images/splash800x480.png" density="land-hdpi"/>
        <splash src="www/resources/images/splash320x200.png" density="land-ldpi"/>
        <splash src="www/resources/images/splash480x320.png" density="land-mdpi"/>
        <splash src="www/resources/images/splash1280x720.png" density="land-xhdpi"/>
        <splash src="www/resources/images/splash480x800.png" density="port-hdpi"/>
        <splash src="www/resources/images/splash200x320.png" density="port-ldpi"/>
        <splash src="www/resources/images/splash320x480.png" density="port-mdpi"/>
        <splash src="www/resources/images/splash720x1280.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
