/nbproject/private/
/cordova/platforms/android/CordovaLib/build/
/cordova/platforms/android/.nb-gradle/
/cordova/platforms/
/nbproject/project.properties
/nbproject/project.xml
/nbproject/
/cordova/www/resources/Readme.md
/cordova/www/resources/font-awesome/
/cordova/www/resources/js/
/cordova/www/resources/favicon.ico
/cordova/www/resources/images/
/cordova/www/resources/ext/
/cordova/www/resources/MontessoriCompass-all.css
/cordova/www/ext/
/cordova/www/app.js
/cordova/www/native.json
/cordova/www/index.html
/cordova/www/resources/
/cordova/plugins/